body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
	text-align: center;
	align-items: center;
    
}

.image {
    max-width: 30%;
    height: auto;
    margin-right: 20px; /* Space between image and text */
}

.text {
    max-width: 50%; /* Adjust width as needed */
}

.text h1 {
    margin: 0;
    font-size: 24px; /* Adjust heading size as needed */
}

.text p {
    margin: 0;
    font-size: 16px; /* Adjust text size as needed */
}